@model SmartCafe.Models.Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.done)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.done)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tableNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tableNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.orderTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.orderTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guest.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
