﻿
@model IEnumerable<SmartCafe.Models.Order>
@using Microsoft.AspNetCore.Identity
@using SmartCafe.Models
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using System.Linq

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Bartender Panel</title>
    <style>
        body {
            font-family: Montserrat sans-serif;
            margin: 0;
            padding: 0;
            background-image: url('/images/abstractBackground2.png');
            color: black;
        }

        .header {
            background-color: transparent;
            color: white;
            padding: 0px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .nav {
            list-style-type: none;
            display: flex;
            align-items: center;
        }

            .nav li {
                margin-right: 35px;
                margin-top: -50px;
                text-transform: uppercase;
                font-size: 14px;
            }

            .nav a {
                color: white;
                text-decoration: none;
                padding-bottom: 3px;
                border-bottom: 2px solid transparent;
                transition: border-bottom-color 0.3s;
            }

                .nav a:hover {
                    border-bottom-color: #fff;
                }

        .logo img {
            max-width: 35%;
            margin-right: 0px;
            margin-left: 15px;
            margin-top: -20px;
        }

        .table-container {
            margin: 0 auto;
            max-width: 100%;
            background-color: transparent;
            border-radius: 5px;
            text-align: center;
        }

        table {
            font-family: Montserrat;
            margin: 0 auto;
            text-align: center;
            border-collapse: collapse;
            background-color: rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2%;
            width: fit-content;
        }

        th,
        td {
            border: 1px solid #dddddd;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; 
        }

        th {
            background-color: #f5f5f5;
            font-weight: bold;
        }

        tbody tr:nth-child(even) {
            background-color: #f9f9f9;
            vertical-align: center;
        }

        tbody tr:hover {
            background-color: #e0e0e0;
        }

        td:last-child {
            display: flex;
            justify-content: space-around;
        }


        .completed-checkbox {
            cursor: pointer;
        }

        .nav-item {
            list-style-type: none;
        }


        .edit,
        .completed,
        .delete {
            font-family: Montserrat;
            font-size: 12px;
            display: inline-block;
            padding: 8px 12px;
            border-radius: 4px;
            background-color: #007bff;
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
            transition: background-color 0.3s;
        }

            .edit:hover,
            .completed:hover,
            .delete:hover {
                background-color: #0056b3;
            }


        /* Stilovi za carousel */
        .carousel {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 40px;
            margin: 15%;
            margin-top: 0;
            margin-bottom: 40px;
        }

        .carousel-item {
            display: flex;
            width: fit-content;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background-color: #f5f5f5;
            padding: 10px;
            margin: 2% auto;
            border-radius: 5px;
            transition: background-color 0.3s;
            cursor: pointer;
            text-decoration: none; 
            color: black; 
        }

            .carousel-item:hover {
                background-color: #e0e0e0;
            }

        .carousel-image {
            width: 200px;
            max-width: 100%;
            height: 200px;
            object-fit: cover; 
            border-radius: 5px;
        }


        .logout-button {
            display: inline-block;
            position: relative;
            z-index: 1;
            overflow: hidden;
            text-decoration: none;
            font-family: sans-serif;
            font-weight: 600;
            font-size: 2em;
            padding: 0.75em 1em;
            color: #FF5A5F;
            border: 0.15em solid #FF5A5F;
            border-radius: calc(0.75em + 0.5em + 0.15em);
            transition: 3s;
        }

            .logout-button:before,
            .logout-button:after {
                content: '';
                position: absolute;
                top: -1.5em;
                z-index: -1;
                width: 200%;
                aspect-ratio: 1;
                border: none;
                border-radius: 40%;
                background-color: rgba(0, 0, 0, 0.7);
                transition: 4s;
            }

            .logout-button:before {
                left: -80%;
                transform: translate3d(0, 5em, 0) rotate(-340deg);
            }

            .logout-button:after {
                right: -80%;
                transform: translate3d(0, 5em, 0) rotate(390deg);
            }

            .logout-button:hover,
            .logout-button:focus {
                color: #FFFFFF;
            }

                .logout-button:hover:before,
                .logout-button:hover:after,
                .logout-button:focus:before,
                .logout-button:focus:after {
                    transform: none;
                    background-color: rgba(255, 90, 95, 0.75); /* Življa boja */
                }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

    <div class="header">
        <div class="logo">
            <img src="~/images/lagoonLogoWhiteTransparent.png" alt="Logo">
        </div>
        <ul class="navbar-nav">
            <h1 style="margin-right:2px;">Bartender Panel</h1>
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="logout-button" style="font-family: Montserrat; text-transform: uppercase; font-size: 16px; color:white; text-decoration:none;">LOG OUT</button>
                    </form>
                </li>
            }
        </ul>
    </div>

    <div class="table-container">
    <table class="table-fixed">
        <thead>
            <tr>
                <th>ORDER ID</th>
                <th>TABLE NUMBER</th>
                <th>TIME RECEIVED</th>
                <th>PRICE</th>
                <th>ORDERED COCKTAILS</th>
                <th>COMPLETED</th>
                <th>OPTIONS</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                var orderItems = ViewBag.OrderItems as IEnumerable<SmartCafe.Models.OrderItem>;
                @foreach (var item in Model.Where(order => !order.done))
                {
                    var orderItemForOrder = orderItems.Where(oi => oi.idOrder == item.id);
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.id)</td>
                        <td>@Html.DisplayFor(modelItem => item.tableNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.orderTime)</td>
                        <td>
                            @{
                                double totalPrice = orderItemForOrder.Sum(oi => oi.price);
                            }
                            @totalPrice
                        </td>
                            <td>
                                @{
                                    var groupedItems = orderItemForOrder.GroupBy(oi => oi.Drink.name);
                                }
                                @foreach (var group in groupedItems)
                                {
                                    <br>

                                    <span>@(group.Count()) × @group.Key</span>

                                    <br />
                                }
                            </td>

                        <td>
                            <form asp-action="Completed">
                                <input type="hidden" name="id" value="@item.id" />
                                <input type="submit" value="Completed" class="completed" /> 
                            </form>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.id" class="edit">Edit</a> |
                            <form asp-action="Delete">
                                <input type="hidden" name="id" value="@item.id" />
                                <input type="submit" value="Delete" class="delete" />
                            </form>
                        </td>
                    </tr>
                }



            }
        </tbody>
    </table>
    </div>

    <h1 style="align-content: center; color: white; text-align: center; ">Menu Items</h1>
    <!-- kod za menu -->
    <div class="carousel">
        @if (ViewBag.Drinks != null)
        {
            var drinks = ViewBag.Drinks as IEnumerable<SmartCafe.Models.Drink>;
            foreach (var drink in drinks)
            {
                <div class="carousel-item">
                    <h3>@drink.name</h3>
                    <p>Price: @drink.price</p>
                    <img src="@Url.Content("~/images/" + drink.name + ".jpg")" alt="@drink.name" class="carousel-image" />
                </div>
            }
        }
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>
</html>